body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: Adjust to match your desired background color */
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Adjusted to stack items vertically */
    justify-content: center;
    align-items: center;
}

.color-background {
    width: 80vw; /* Adjusts width to 80% of the viewport width */
    height: 80vh; /* Adjusts height to 80% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* This will be overridden by the dynamic Pantone color */
}

#chairImage {
    max-width: 50%; /* Adjust the size of the image */
    max-height: 50%; /* Adjust the size of the image */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
}

.quote-container {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    max-width: 80%; /* Ensures the text doesn't span the full width of very wide screens */
    margin-left: auto; /* Centers the quote container */
    margin-right: auto; /* Centers the quote container */
}
